.color-checker-wrapper {
  @apply flex flex-col max-w-sm p-4 mx-auto md:p-8;

  .color-checker-title {
    @apply flex items-center mx-auto my-8 text-lg font-bold text-center;
    
    @screen md {
      @apply mb-12 md:mt-8 text-2xl;
    }
  }
}

.checker-wrapper {
  @apply inline-flex flex-col p-4 mx-auto bg-gray-700 rounded-md;

  @screen md {
    @apply p-8;
  }

  .swap-button {
    @apply inline-block p-2 mx-auto my-4 rounded-sm;
  
    @screen md {
      @apply my-6;
    }
  }
}

.test-item {
  @apply flex justify-between px-3 py-2 text-lg rounded-md;

  &:nth-child(1) {
    @apply bg-gray-100;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:last-child {
      @apply rounded-md;
    }
  }

  &:nth-child(2) {
    @apply bg-gray-200;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
  