@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  label,
  button,
  legend,
  input,
  input::placeholder,
  textarea,
  textarea::placeholder {
    @apply font-sans;
  }

  #__next {
    @apply relative flex flex-col min-h-screen m-0 overflow-hidden text-base;
    
    max-width: 100vw;
    padding-top: env(safe-area-inset-top); 
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
  }
}