.input-wrapper {
  @apply max-w-xs;

  .input-label {
    @apply block w-full mb-1;
  }
  
  .input-group {
    @apply flex items-stretch bg-gray-50 text-black;

    .input-prefix, .input-suffix {
      @apply inline-flex items-center justify-center w-10 h-10 text-lg flex-none;
    }

    .input-element {
      @apply px-3 py-2;
      @apply block w-full rounded-sm; 
      @apply bg-gray-50;

      &--pl-none {
        @apply pl-0;
      }
      &--pr-none {
        @apply pr-0;
      }

      &:focus {
        @apply outline-none;
      }
    }
  }

  .input-error {
    @apply mt-1 text-red-700;
  }

  &--error {
    @apply text-red-700;

    .input-group {
      @apply border-2 border-red-700;

      .input-prefix, .input-suffix {
        @apply text-red-700;
      }
    }
  }
}
